<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stephenhouser.tabbydro" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tabby DRO</name>
    <description>
        Tablet-based Digital Read Out (DRO) display for "Android DRO"
    </description>
    <author email="stephenhouser@gmail.com" href="http://stephenhouser.com">
        Stephen Houser
    </author>
    <content src="tabbydro.html" />
    <preference name="Fullscreen" value="false" />
    <preference name="WebViewBounce" value="true" />
    <preference name="BackgroundColor" value="0xff000000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <plugin name="cordova-plugin-bluetooth-serial" spec="~0.4.7" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-fastclick" spec="https://github.com/chemerisuk/cordova-plugin-fastclick.git" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="browser" spec="^5.0.3" />
</widget>
