
@font-face {
  font-family: "DSEG7Classic-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.ttf");
}

@font-face {
  font-family: "DSEG7Classic-BoldItalic";
  src: url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf");
}

@font-face {
  font-family: "DSEG7Modern-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.ttf");
}

@font-face {
  font-family: "DSEG7Modern-BoldItalic";
  src: url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.ttf");
}

html {
    background-color: black;
}

body {
    padding: 0px;
    margin: 0px;
}

/** The major areas of the application */

/* The area where the Axes are displayed */
.display {
  grid-area: display;

  xpadding: 0.0em 0.0em 0.0em 0.5em;
}

/* Where random system control buttons are displayed */
.controls {
  grid-area: controls;

  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/* Where the list of saved points is displayed */
.points {
  grid-area: points;

  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/* Where the messages and footer is displayed */
.messages {
  grid-area: messages;
  border: 1px solid grey;
  padding: .5em .5em .5em .5em;
}

/** The Axis Display area */

.axis-display {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: .75em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;

  margin-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

@media (min-width: 321px) {
  .axis-display {
      font-size: 1em;
    }
}

@media (min-width: 640px) {
  .axis-display {
      font-size: 2em;
    }
}

.axis-display:last-child {
  margin-bottom: 0px;
}

.axis-display-label {
  flex-grow: 1;
}

.axis-display-value {
    font-family: "DSEG7Classic-BoldItalic";
    font-size: 2em;
    text-align: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.axis-display-value-background {
    position: absolute;
    display: inline-block;
    z-index: 0;
    color: rgba(128, 128, 128, 0.33);
}

.axis-display-value-foreground {
    z-index: 1;
    display: inline-block;
    color: greenyellow;
}

.axis-display-value-units {
  font-size: .33em;
  margin-left: -.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  vertical-align: middle;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

  line-height: 2em;
  color: rgba(128, 128, 128, 1.0);
}

.axis-display-value-units .inches {
  font-size: 2em;
}

.axis-display-label button {
    height: 3em;
}


.controls button,
.axis-display-controls button {
  background-color: black;
  border-color: white;
  height: initial;
}

.two-line-toggle div {
  display: block;
  color: rgba(128, 128, 128, 1.0);
}

.two-line-toggle div:first-child {
  border-bottom: 2px solid grey;;
}

.on {
    color: greenyellow !important;
    font-weight: bold;
}

.off {
    color: rgba(128, 128, 128, 1.0);
}



#zAxis .axis-display-value-foreground {
    color: red;
}

#wAxis {
    display: none;
}

#touch-probe {
    display: none;
}


/* Base layout of the app's grid, all in rows */
.app {
    padding: 5px 5px 5px 5px;

    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "display"
      "controls"
      "points"
      "messages";
 }

@media only screen 
  and (orientation: landscape) 
  and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
      "display controls"
      "display points"
      "messages messages";
  }
}

/* .btn-secondary:hover {
  color: #fff;
  background-color: black !important;
  border-color: white !important;
} */