
@font-face {
  font-family: "DSEG7Classic-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.ttf");
}

@font-face {
  font-family: "DSEG7Classic-BoldItalic";
  src: url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf");
}

@font-face {
  font-family: "DSEG7Modern-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.ttf");
}

@font-face {
  font-family: "DSEG7Modern-BoldItalic";
  src: url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-BoldItalic.ttf");
}

html {
    background-color: black;
}

body {
	margin: 0px;
  padding: 0px;
}

.app {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "header"
    "nav"
    "display"
    "points"
	  "tools"
    "calculator";
  background-color: black;
  color: white;
}

.main-header {
  grid-area: header;
}

.display {
  grid-area: display;
}

.controls {
  grid-area: controls;
  border: 1px solid grey;
  padding: .5em .5em .5em .5em;
}

.points {
  grid-area: points;
  border: 1px solid grey;
  padding: .5em .5em .5em .5em;
}

.main-footer {
  grid-area: footer;
  border: 1px solid grey;
  padding: .5em .5em .5em .5em;
}

@media (min-width: 500px) {
  .app {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
      "navbar  navbar"
      "display controls"
      "display points"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.axis-display {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;

  margin-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

@media (min-width: 576px) {
  .axis-display {
    font-size: 1.25em;
  }
}

@media (min-width: 720px) {
  .axis-display {
    font-size: 1.75em;
  }
}

@media (min-width: 780px) {
  .axis-display {
    font-size: 2em;
  }
}

.axis-display-label {
  flex-grow: 1;
}

.axis-display-value {
    font-family: "DSEG7Classic-BoldItalic";
    font-size: 2em;
    text-align: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.axis-display-value-background {
    position: absolute;
    z-index: 0;
    color: rgba(128, 128, 128, 0.33);
}

.axis-display-value-foreground {
    z-index: 1;
    color: greenyellow;
}

.axis-display-value-units {
  font-size: .33em;
  margin-left: -.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  vertical-align: middle;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

  line-height: 2em;
}

.inches {
  font-size: 2em;
}

.axis-display-label button {
    height: 3.5em;
}

.controls button,
.axis-display-controls button {
  background-color: black;
  border-color: white;
  height: initial;
}

.controls .two-line span,
.axis-display-controls .two-line span {
  display: block;
}

.controls .two-line span:first-child,
.axis-display-controls .two-line span:first-child {
  border-bottom: 2px solid grey;;
}

#w-axis {
    display: none;
}

#touch-probe {
    display: none;
}

.on {
    color: greenyellow;
    font-weight: bold;
}

.off {
    color: rgba(128, 128, 128, 1.0);
}

