/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: "DSEG7Classic-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.woff") format('woff'),
       url("../fonts-DSEG_v045/DSEG7-Classic/DSEG7Classic-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "DSEG7Modern-Italic";
  src: url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff2"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.woff"),
       url("../fonts-DSEG_v045/DSEG7-Modern/DSEG7Modern-Italic.ttf");
}



* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    color: white;
 
    /*
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    */
}

h1 {
    font-size: x-large;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.btn-secondary {
    background-color: gray;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

.on {
    color: white;
}

.off {
    color: darkred;
    font-size: x-small;
}

.axis {
    border: 2px solid grey;
    border-radius: 0.5em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 0.25em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.axis-label {
    font-size: 2em;
    display: inline-block;
}

.axis-units {
    vertical-align: text-bottom;
    height: 3.0em;
}

.axis-zero {
    vertical-align: text-bottom;
    height: 3.0em;
}

.axis-value {
    font-family: "DSEG7Modern-Italic";
    font-size: 4em;
    display: inline-block;
}

.axis-value-background {
    position: absolute;
    z-index: 50;
    color: rgba(255,255,255,0.25);
}

.axis-value-foreground {
    z-index: 100;
    color: greenyellow;
}

.axis-controls {
    display: inline-block;
}

#w-axis {
    display: none;
}

#touch-probe {
    display: none;
}

#calc {
    margin-top: 0.25em;
    border: 2px solid grey;
    border-radius: 5pt;
 